body{
     background-color: #cccccc
}

body{
    background-image: url("https://cdn.pixabay.com/photo/2018/10/06/13/33/pen-3727882__480.jpg");
    height: 100%;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

h1{
    margin-top: 13%;
    margin-left: 10%;
    color: #FBDB0C;
    font-family: 'Bowlby One SC', cursive;
}

.spans{
    margin-left: 10%;
    font-family: 'Shadows Into Light', cursive;
    font-size: 23px;
    color: purple;
}

#img1{
    width: 250px;
    height: 250px;
}
.copyright{
    float: right;
    margin-right: 2%;
    margin-top: 6%;
}